.main-menu-area {
  background-color: #242424;
  width: 205px;
  padding-top: 18px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.4s ease 0.1s;
}
.main-menu-area .site-title img {
  height: 24px;
  padding-left: 29px;
  transition: all 0.4s ease 0.1s;
}
.text-gray {
  color: #9c9c9c;
}
.text-green {
  color: #5dd392;
}
.bg-green {
  background: #5dd392;
}
.text-orange {
  color: #f0af4b;
}
.bg-orange {
  background: #f0af4b;
}
.text-sky {
  color: #61ace1;
}
.bg-sky {
  background: #61ace1;
}
.text-red {
  color: #f95b84;
}
.bg-red {
  background: #f95b84;
}
.text-blue {
  color: #8b92fc;
}
.bg-blue {
  background: #8b92fc;
}
.text-vayolet {
  color: #ae7dc6;
}
.bg-vayolet {
  background: #ae7dc6;
}
label {
  font-weight: 700 !important;
  margin-bottom: 10px;
  margin-top: 15px;
}
.checkbox {
  margin-bottom: 25px;
  margin-top: 15px;
  color: #4e5860;
  font-weight: 600;
}
.checkbox i {
  width: 20px;
  height: 20px;
  font-size: 1rem;
  transform: translateY(2px);
}
.checkbox i.fa-check-square {
  color: #1abc9c;
  transform: scale(1.1);
}
.bootstrap-tagsinput {
  border: 2px solid #f1f1f1;
  font-size: 0.8125rem;
  width: 100%;
}
.bootstrap-tagsinput .tag {
  background: #f7f6f6 !important;
  border: 1px solid #efeded !important;
  color: #ccc6c6 !important;
}
.bootstrap-tagsinput input {
  width: 100px !important;
}
.form-control {
  border: 2px solid #f1f1f1;
  font-size: 0.8125rem;
}
.form-control:focus {
  border: 2px solid #f1f1f1;
  box-shadow: none;
}
.menu-collepsed .site-title img {
  visibility: hidden;
}
.menu-collepsed .dashboard-menu li a:before {
  left: 17px;
}
.collaps-button {
  position: absolute;
  color: #fff;
  right: 10px;
  transform: translateY(-2px);
  height: 30px;
  padding: 0 11px;
  cursor: pointer;
  display: block;
}
.dashboard-menu {
  padding-top: 35px;
}
.dashboard-menu li a {
  height: 50px;
  position: relative;
  padding-left: 75px;
  color: #9e9e9f;
  display: block;
  line-height: 50px;
}
.dashboard-menu li a:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 29px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: top left;
}
.dashboard-menu li a:hover::before {
  background-position: top right;
}
.dashboard-menu li:hover {
  background: #3a3a3a;
}
.dashboard-menu li:hover a {
  color: #fff;
}
.dashboard-menu .active {
  background: #3a3a3a;
  color: #fff;
}
.dashboard-menu .active:before {
  background-position: top right;
}
.Dashboard:before {
  background-image: url(../img/dashboard.png);
}
.Products:before {
  background-image: url(../img/Products.png);
}
.Orders:before {
  background-image: url(../img/Orders.png);
}
.Coupons:before {
  background-image: url(../img/Coupons.png);
}
.Reports:before {
  background-image: url(../img/Reports.png);
}
.Reviews:before {
  background-image: url(../img/Reviews.png);
}
.Withdrow:before {
  background-image: url(../img/Withdrow.png);
}
.Subscription:before {
  background-image: url(../img/Subscription.png);
}
.Booking:before {
  background-image: url(../img/Booking.png);
}
.Settings:before {
  background-image: url(../img/Settings.png);
}
.main-body {
  margin-left: 205px;
  transition: all 0.4s ease 0.1s;
}
.header-area {
  background: #fff;
  padding: 0 25px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.profile-details {
  height: 55px;
}
.profile-more {
  font-size: 0.875rem;
  border-radius: 50%;
  line-height: 23px;
  width: 24px;
  height: 24px;
  text-align: center;
  border: 1px solid #d5e0e5;
  color: #d5e0e5;
  margin-left: 15px;
}
.profile-owner {
  color: #000;
  font-weight: 600;
}
.profile-owner img {
  height: 38px;
  width: 38px;
  border: 4px solid #fff;
  box-shadow: 0 0 3px rgba(10, 95, 208, 0.3);
  border-radius: 50%;
  margin-right: 15px;
}
.notification {
  margin-right: 30px;
}
.notification img {
  height: 22px;
}
.notification span {
  top: -5px;
  right: -9px;
  background: #ff7993;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.body-content {
  padding: 30px;
}
.body-content .card-columns {
  margin-right: -15px;
}
.body-content .card {
  width: calc(100% - 15px);
  padding: 20px;
  margin: 15px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-left: 0px !important;
}
.single-up-news {
  margin-bottom: 15px;
  height: 150px;
  background: #cc0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-radius: 5px !important;
}
.single-up-news h4 {
  font-weight: 700;
  margin-bottom: 10px !important;
}
.single-up-news.orange {
  background: -webkit-linear-gradient(135deg, #ff933e, #fe6c78);
  background: -o-linear-gradient(135deg, #ff933e, #fe6c78);
  background: linear-gradient(135deg, #ff933e, #fe6c78);
}
.single-up-news.green {
  background: -webkit-linear-gradient(135deg, #74d30b, #0ac182);
  background: -o-linear-gradient(135deg, #74d30b, #0ac182);
  background: linear-gradient(135deg, #74d30b, #0ac182);
}
.single-up-news.blue {
  background: -webkit-linear-gradient(135deg, #00bdfa, #0064eb);
  background: -o-linear-gradient(135deg, #00bdfa, #0064eb);
  background: linear-gradient(135deg, #00bdfa, #0064eb);
}
.single-up-news.pink {
  background: -webkit-linear-gradient(135deg, #f971b8, #8e83fd);
  background: -o-linear-gradient(135deg, #f971b8, #8e83fd);
  background: linear-gradient(135deg, #f971b8, #8e83fd);
}
.profile-progress {
  background: #fff;
  border-radius: 5px;
  height: 150px;
  padding: 30px;
}
.profile-progress p {
  width: 100%;
  text-align: center;
}
.profile-progress h5 a {
  font-weight: 600;
  color: #000;
}
.profile-progress .profile-progress-bar .progresses.gradient .progress-end {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: -webkit-linear-gradient(#6ed212, #12bc72);
  background: -o-linear-gradient(#6ed212, #12bc72);
  background: linear-gradient(#6ed212, #12bc72);
  box-shadow: 0 0 8px #e8e9f4;
}
.profile-progress-bar {
  width: 100%;
  height: 7px;
  margin-top: 7px;
  border-radius: 10px;
  background-color: #e8e9f4;
  margin-bottom: 10px;
}
.profile-progress-bar .progresses {
  height: 100%;
  float: left;
  border-radius: 10px;
  position: relative;
}
.profile-progress-bar .progresses.gradient {
  background: -webkit-linear-gradient(#6ed212, #12bc72);
  background: -o-linear-gradient(#6ed212, #12bc72);
  background: linear-gradient(#6ed212, #12bc72);
}
.section-title h5 {
  font-weight: 700;
}
.dash-order-section .row {
  font-weight: 600;
}
.dash-order-section .number {
  color: #000 !important;
}
.dash-review-section .single-review {
  width: calc(25% - 9px);
  float: left;
  text-align: center;
  height: 100px;
  border: 2px solid #eeeff1;
  margin-right: 12px;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dash-review-section .single-review:last-of-type {
  margin-right: 0 !important;
}
.dash-review-section .single-review h5 {
  font-weight: 700;
  margin-bottom: 5px !important;
}
.dash-review-section .single-review span {
  color: #a3a3a3;
}
.dash-announcement-section {
  padding: 20px 0 0 0 !important;
  position: relative;
}
.dash-announcement-section .section-title {
  padding: 0 20px !important;
  border-bottom: 1px solid #eeeff1;
}
.dash-product-section {
  padding: 20px 0 0 0 !important;
  position: relative;
}
.dash-product-section .section-title {
  padding: 0 20px !important;
}
.dash-product-section .single-product {
  padding: 20px 5px !important;
  border-top: 1px solid #eeeff1;
  margin: 0 !important;
  color: #a3a3a3;
}
.dash-product-section .single-product.bg-gray {
  background: #fcfcfc !important;
}
.dash-product-section button {
  background: none;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  color: #f1644c;
  font-size: 1rem;
  cursor: pointer;
}
.dash-product-section button:hover {
  outline: none;
  filter: brightness(1.3);
}
.dash-product-section button:focus {
  outline: none;
  filter: brightness(1.3);
}
.announcement {
  display: flex;
  align-items: center;
  min-height: 400px;
  justify-content: center;
  flex-direction: column;
}
.announcement p {
  font-size: 1.25rem;
  margin-top: 40px !important;
  width: 200px;
  text-align: center;
  color: #d3d3d3;
}
.header-search-form {
  position: relative;
}
.header-search-form input {
  padding: 0 30px;
  width: 100%;
  border: none;
  outline: none;
  position: relative;
  font-size: 0.9375rem;
  height: 55px;
}
.header-search-form:before {
  content: "\f002";
  font-family: FontAwesome;
  color: #9b59b6;
  position: absolute;
  top: 0;
  line-height: 58px;
  z-index: 99;
  left: 0;
  font-size: 0.875rem;
  width: 50px;
}
.product-page-title button {
  padding: 10px 22px;
  margin-left: 10px;
  font-size: 0.8125rem;
}
.product-page-title button.anp {
  background: #f1644c;
  border: none;
  color: #fff;
  border: 2px solid #f5f5f5;
  outline: none;
  border-radius: 5px;
}
.product-page-title button.anp:hover {
  filter: brightness(1.3);
}
.product-page-title button.with-before {
  position: relative;
  padding-left: 44px;
  border: 2px solid #f0f0f0;
  background: #fff;
  border-radius: 5px;
  color: #a3a3a3;
  transition: background 0.1s linear 0.1s;
}
.product-page-title button.with-before:before {
  position: absolute;
  left: 17px;
  content: "";
  z-index: 99;
  width: 16px;
  top: 50%;
  height: 17px;
  background-position: top left;
  background-repeat: no-repeat;
  transform: translateY(-52%);
}
.product-page-title button.with-before:hover::before {
  background-position: top right;
}
.product-page-title button.with-before.wb1:before {
  background-image: url(../img/import.png);
}
.product-page-title button.with-before.wb1:hover {
  background: #2db868;
  color: #fff;
}
.product-page-title button.with-before.wb2:before {
  background-image: url(../img/export.png);
}
.product-page-title button.with-before.wb2:hover {
  background: #008afb;
  color: #fff;
}
.select-tag-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.select-tag-bar .nav-tabs {
  border: none !important;
}
.select-tag-bar .nav-tabs a.active {
  border: none !important;
  color: #6f6f6f;
  background: #fff;
  box-shadow: 0 0 10px #ccc;
}
.select-tag-bar .nav li {
  border: none !important;
  margin-right: 7px;
}
.select-tag-bar .nav li:last-of-type {
  margin-right: 0;
}
.select-tag-bar .nav li a {
  color: #cac5c5;
  border: 1px solid #cac5c5;
  padding: 7px 20px;
  border-radius: 4px;
  display: block;
}
.select-tag-bar .nav li a span {
  font-size: 0.6875rem;
}
.dropdown-nav li a {
  position: relative;
  padding-right: 60px !important;
}
.dropdown-nav li a:before {
  position: absolute;
  right: 19px;
  top: 50%;
  content: "\f107";
  font-family: FontAwesome;
  color: #cac5c5;
  transform: translateY(-46%);
  font-size: 1.125rem;
}
.data-table-area tbody tr {
  border-bottom: 3px solid #f5f5f5 !important;
  background: #fff;
}
.data-table-area tbody .p-name {
  display: flex;
  align-items: center;
}
.data-table-area tbody .p-name .image {
  height: 65px;
  width: 65px;
  margin-left: 5px;
  border-radius: 5px;
  float: left;
}
.data-table-area tbody .p-name h5 {
  margin-bottom: 0 !important;
  padding-left: 20px;
  color: #000;
}
.data-table-area tbody .price {
  color: #1abc9c !important;
  margin-top: 15px;
}
.data-table-area tbody .p-type {
  height: 18px;
  width: 35px;
  border-radius: 5px;
}
.data-table-area tbody .p-status span {
  padding-top: 5px;
  display: block;
}
.data-table-area tbody .edit-button a {
  font-size: 1.25rem;
  color: #9c9c9c;
  padding: 0 5px;
  z-index: 1 !important;
  display: block;
}
.data-table-area tbody .edit-button a:focus {
  color: #eb624a;
}
.data-table-area tbody .edit-button a:hover {
  color: #eb624a;
}
.data-table-area td {
  vertical-align: middle !important;
  padding: 20px;
  color: #9c9c9c;
}
.Status-online {
  margin-bottom: 0 !important;
  background: #2ecc71;
  padding: 0px 8px !important;
  border-radius: 20px;
  display: inline-block !important;
  color: #fff;
  font-size: 12px;
}
.status-pending {
  margin-bottom: 0 !important;
  background: #f39c12;
  padding: 3px 12px !important;
  border-radius: 20px;
  display: inline-block !important;
  color: #fff;
  font-size: 0.75rem;
}
.pagination-area {
  margin: 30px 0 0 5px;
}
.pagination-area .page-item {
  border: 0;
}
.pagination-area .page-item:first-of-type i {
  padding-right: 10px;
}
.pagination-area .page-item:last-of-type i {
  padding-left: 10px;
}
.pagination-area .page-link {
  border: 0 !important;
  color: #6f6f6f;
  border-radius: 3px;
  margin-right: 9px;
  padding: 7px 14px;
  box-shadow: 0 0 10px #ccc;
}
.dropd-list {
  border: none;
  box-shadow: 0 0 100px #ccc;
  min-width: 190px;
}
.dropd-list ul {
  margin: 10px;
  list-style: none;
  margin-left: 20px;
}
.dropd-list ul li {
  padding: 3px 0;
}
.dropd-list ul li a {
  border: none!important;
  font-size: 0.875rem !important;
  padding: 0 !important;
}
.dropd-list ul li a i {
  width: 30px;
}
.dropd-list ul li a:before {
  content: "" !important;
}
.dropd-list ul li a:hover {
  color: #000 !important;
}
.edit-button .dropd-list {
  transform: translate3d(-205px, -25px, 0px) !important;
}
.normal-drop-list {
  top: 25px !important;
}
.custom-dropdown {
  position: relative;
}
.custom-drop-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 100px #ccc;
  transform: translateY(25px);
  width: 300px;
  z-index: 99;
}
.custom-drop-list .card {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  box-shadow: none !important;
}
.custom-drop-list .card a {
  border: none !important;
  border-bottom: 1px solid #efefef !important;
}
.custom-drop-list .card .collapser {
  border-radius: 0;
  font-size: 0.875rem;
  padding: 20px 40px;
}
.custom-drop-list .card .collapser[aria-expanded="true"] {
  color: #f2624d !important;
}
.custom-drop-list .card .collapser[aria-expanded="true"]::before {
  transform: rotateX(180deg) translateY(15px);
  color: #f2624d !important;
}
.custom-drop-list .card .clps {
  height: 300px;
  overflow-y: auto;
}
.custom-drop-list .card .clps ul {
  list-style: none;
  font-size: 0.8125rem;
}
.custom-drop-list .card .clps ul li {
  margin: 0 !important;
}
.custom-drop-list .card .clps ul li a {
  color: #000 !important;
  padding: 20px 20px;
  display: block;
  background: #fcfcfc;
}
.custom-drop-list .card .clps ul li a i {
  font-size: 12px;
  margin-right: 10px;
  margin-left: 20px;
}
.custom-drop-list .card .clps ul li a:before {
  content: "";
}
.custom-drop-list .card .clps ul li ul li a {
  padding-left: 70px;
}
.custom-drop-list.show {
  display: block;
}
.add-product-modal .modal-title {
  background: #f5f5f5;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #efeded;
}
.add-product-modal .modal-title h4 {
  font-weight: 600;
  padding: 15px 25px;
  margin: 0 !important;
}
.add-product-modal .modal-title h4 i {
  color: #e74c3c;
  margin-right: 15px;
}
.add-product-modal .modal-title h4 .close {
  border: none;
  outline: none;
  font-size: 35px;
  transform: translateY(-5px);
}
.add-product-modal .modal-body {
  padding: 20px 25px;
}
.photo-upload-area {
  flex-direction: column;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  height: 200px;
}
.photo-upload-area i {
  color: #e8e9f4;
  margin-bottom: 10px !important;
}
.photo-upload-area #buttonid {
  background: #fff;
  color: #a9a9a9;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  padding: 5px 20px;
}
.photo-preview .single-preview {
  height: 66px;
  width: 72px;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  display: inline-block;
  margin-right: 8px;
  line-height: 64px;
  text-align: center;
  color: #f1eeee;
  font-size: 1rem;
}
.photo-preview .single-preview:last-of-type {
  color: #f1644c;
}
.modal-content {
  transform: translateX(90px) !important;
}
.input-group-prepend {
  border: 2px solid #f1f1f1;
  width: 40px !important;
  border-radius: 4px 0 0 4px;
  background: #f5f5f5;
  text-align: center;
  padding-top: 7px;
  color: #f1644c;
}
.submit-buttons button {
  padding: 8px 20px;
  margin-left: 20px;
  border: 2px solid #eaecf4;
  background: #fff;
  color: #333e48;
  border-radius: 2px;
  transition: all 0.3 linear 0.1;
}
.submit-buttons button:hover {
  border: 2px solid #f2624d;
  background: #f2624d;
  color: #fff;
}
.body-content2 {
  padding: 50px 170px !important;
}
.edit-area {
  background: #fff;
  border-radius: 5px;
  padding: 25px;
  padding-bottom: 50px;
  box-shadow: 0 0 5px #ccc;
  margin-bottom: 30px;
}
.EGP {
  position: relative;
}
.EGP:after {
  position: absolute;
  right: 25px;
  top: calc(50% + 13px);
  content: "EGP";
  background: #fff;
}
.dtp span button {
  background: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  transform: translateX(-238px) translateY(-13px);
  z-index: 99;
}
.t-info i {
  font-size: 0.8125rem !important;
  margin-left: 5px;
}
#products-edit-list .card {
  margin-bottom: 30px;
  box-shadow: 0 0 5px #ccc;
}
#products-edit-list .card a.collapser {
  padding: 20px 25px 0 25px;
  color: #333e48;
}
#products-edit-list .collapser h4 {
  font-size: 1rem;
  font-weight: 700;
}
#products-edit-list .collapser h4 i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  padding-left: 2px;
}
#products-edit-list .collapser p {
  color: #d1cfcf;
  margin-top: 3px !important;
}
#products-edit-list .collapser p i {
  margin-left: 15px;
  font-size: 18px;
  transform: translateY(2px);
  color: #aab8bf !important;
}
.colleps-info-option {
  padding: 25px !important;
  border-top: 2px solid #efeded;
}
.colleps-info-option .dis {
  position: relative;
}
.colleps-info-option .dis:after {
  position: absolute;
  right: 25px;
  padding-right: 10px;
  transform: scale(1.1);
  top: calc(50% + 13px);
  content: "%";
  color: #9b59b6;
  background: #fff;
  font-weight: bold;
}
.finally-submit {
  padding: 15px 25px;
  border: none;
  color: #fff;
  background: #e74c3c;
  outline: none;
  border-radius: 3px;
  margin-bottom: 30px;
}
.forms-title {
  padding: 10px 10px;
  border-bottom: 2px solid #efeded;
  margin-left: -10px;
  margin-right: -10px;
}
.forms-title i {
  color: #c5bfbf;
  margin-left: 10px;
}
.movable {
  margin-bottom: 20px;
}
.movable i {
  color: #c5bfbf;
  margin-left: 10px;
}
.color {
  height: 60px;
  width: 60px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.color.checked:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: "\f00c";
  font-family: FontAwesome;
  color: #fff;
  font-size: 20px;
}
@media (min-width: 576px) {
  .body-content .card-columns {
    column-count: 2 !important;
  }
}
.chart-area {
  background: #fff;
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.chart-area p {
  margin-left: 30px!important;
}
.chart-area span {
  font-weight: bold;
  margin-left: 5px;
}
